<style type="text/css">
    #TaskInfoPerson td {
        font-size: 16px;
        height: 30px;
    }

    .FlowNodeClass td {
        font-size: 12px !important;
        height: 20px !important;
        border: 1px solid #D3D3D3;
    }

    .btn-medium {
        padding: 5px 15px;
        color: white !important;
        width: 100px;
    }

    .NextSpan {
        padding: 5px 5px;
        font-size: 18px;
    }

    .pagefoot {
        text-align: center;
        padding: 5px;
        height: auto;
    }

        .pagefoot .l-btn-text {
            vertical-align: middle !important;
            font-size: 14px;
        }

        .pagefoot .btn-blue {
            background: -webkit-linear-gradient(top,#67c2ff 0,#3d93cf 100%);
            background: -moz-linear-gradient(top,#67c2ff 0,#3d93cf 100%);
            background: -o-linear-gradient(top,#67c2ff 0,#3d93cf 100%);
            background: linear-gradient(top,#67c2ff 0,#3d93cf 100%);
            border: none;
        }

        .pagefoot .btn-green {
            background: -webkit-linear-gradient(top,#6cd2b7 0,#69a898 100%);
            background: -moz-linear-gradient(top,#6cd2b7 0,#69a898 100%);
            background: -o-linear-gradient(top,#6cd2b7 0,#69a898 100%);
            background: linear-gradient(top,#6cd2b7 0,#69a898 100%);
            border: none;
        }

        .pagefoot .btn-gray {
            background: -webkit-linear-gradient(top,#bebebe 0,#808080 100%);
            background: -moz-linear-gradient(top,#bebebe 0,#808080 100%);
            background: -o-linear-gradient(top,#bebebe 0,#808080 100%);
            background: linear-gradient(top,#bebebe 0,#808080 100%);
            border: none;
        }

        .pagefoot .btn-blue:hover {
            background: #3d93cf;
        }

        .pagefoot .btn-green:hover {
            background: #69a898;
        }

        .pagefoot .btn-gray:hover {
            background: #808080;
        }
</style>

<script type="text/javascript" src="@Url.Content("~/Scripts/JQ/DesFlow.js")"></script>

<div id="TaskInfoApprovePostBack" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false" style="border-bottom-width:1px;overflow:hidden">
                <div style="height:30px;padding:5px 0px;">
                    @*<div style="float:left;margin-left:5px;">
                        校审流程：
                        <div id="FlowNodeView" class="approve-progress"></div>
                    </div>*@
                    <div style="float:right;margin-right:5px;margin-top:7px;">
                        节点状态：
                        <span class="node-example node-status-0-bg">未启动</span>
                        <span class="node-example node-status-1-bg">已安排</span>
                        <span class="node-example node-status-2-bg">进行中</span>
                        <span class="node-example node-status-3-bg">已完成</span>
                        <span class="node-example node-status-4-bg">已回退</span>
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="border-right-width:1px;">
                <table id="TaskInfoApprovePostBack_files"></table>
                <script type="text/javascript">
                    $(function () {
                        $('#TaskInfoApprovePostBack_files').treegrid({
                            url: '@Url.Action("TaskInfoGetDesTaskAttachSelDataJson")?TaskId='+@ViewBag.TaskModel.Id,
                            idField: 'AttachID',
                            treeField: 'AttachName',
                            border: 0,
                            fit: true,
                            lines: true,
                            animate: true,
                            rownumbers:true,
                            queryParams:{AttachIds:'@Html.Raw(ViewBag.AttachIds)'},
                            //checkOnSelect:false,
                            selectOnCheck:true,
                            checkOnSelect:true,
                            singleSelect:false,
                            columns: [[
                                { title: '附件信息', field: 'AttachName', width: 400, align: 'left',halign:'center',formatter:function (value,row,index) {
                                    var FileName="<div style=\"float:left\">"+row.AttachName+"</div>";
                                    return FileName;
                                } },
                                  { title: '校审流程', field: 'FlowNodeBack', width: 600, align: 'left',formatter:function (value,row,index) {
                                      return "<div id=\"FlowNodeBack_"+row.AttachID+"\" class=\"approve-progress\"></div>"
                                  } },
                                { title: "版本", field: "AttachVer", width: 50, align: "center", halign: "center",formatter:function (value,row,index) {
                                    if(row.AttachExt=="."){
                                        return "";
                                    }else {
                                        return value;
                                    }
                                } },
                                {
                                    title: "大小", field: "AttachSize", width: 76, align: "center", halign: "center", formatter: function (value, row,index) {
                                        if(row.AttachExt=="."){
                                            return "";
                                        }else {
                                            return JQ.tools.getFileSizeText(value);
                                        }
                                    }
                                },
                                {
                                    title: "修改时间", field: "AttachDateChange", width: 90, align: "center", halign: "center", formatter: function (value, rowData,index) {
                                        return JQ.tools.DateTimeFormatterByT(rowData.AttachDateChange);
                                    }
                                },
                                {
                                    title: "上传日期", field: "AttachDateUpload", width: 90, align: "center", halign: "center", formatter: function (value, rowData,index) {
                                        return JQ.tools.DateTimeFormatterByT(rowData.AttachDateUpload);
                                    }
                                },
                                {
                                    title: "操作", field: "AttachID", width: 80, align: "center", halign: "center", formatter: function (value, rowData,index) {
                                        return "<a id=\"btnDel\" href=\"#\" rootID="+rowData.AttachID+" >排除</a>  ";
                                    }
                                }
                            ]],
                            onLoadSuccess:function (row,data) {
                                if (data.total>0) {
                                    $.each(data.rows,function (i,e) {
                                        if (e.AttachExt==".") {
                                            if ( $("#TaskInfoApprovePostBack_files").treegrid("getChildren",e.AttachID).length==0) {
                                                $("#TaskInfoApprovePostBack_files").treegrid("update",{id:e.AttachID,row:{iconCls:"fa-folder"}});
                                                $("span[class='tree-icon tree-file fa-folder']").removeClass("tree-file");
                                                //$("#TaskInfoDiv > .tree-icon,#TaskInfoDiv > .tree-file,#TaskInfoDiv > .fa-folder").removeClass("tree-file");
                                            }
                                        }
                                        else {
                                            var jsonNode= e.AttachFlowNodeJson == "" ? [] : JSON.parse(e.AttachFlowNodeJson).root.item;
                                            var $table=$("div[id='FlowNodeBack_"+e.AttachID+"']");
                                            if (e.AttachFlowNodeJson!="") {
                                                JQ.DesFlow.show({
                                                    Ctl:$table,
                                                    FlowData:jsonNode,
                                                });
                                            } else {
                                                $table.html("该文件发布了新版本，需设计重新提交校审。");
                                            }
                                        }
                                      
                                        //删除样式
                                        $("a[rootID='"+e.AttachID+"']").linkbutton({
                                            iconCls: 'fa fa-ban',
                                            onClick:function () {
                                                deleteFunc(e.AttachID);
                                            }
                                        })

                                    })
                                    //自动 调整行高
                                    $("#TaskInfoApprovePostBack_files").treegrid("autoSizeColumn","AttachID");
                                }
                            },
                        })
                    });

                    function deleteFunc(AttachID) {
                        //return JQ.dialog.confirm("你确定要排除吗?",function (){
                            var parentNode=$("#TaskInfoApprovePostBack_files").treegrid("getParent",AttachID);
                            $("#TaskInfoApprovePostBack_files").treegrid("remove",AttachID);
                            //判断父节点
                            if (parentNode!=null) {
                                if ($("#TaskInfoApprovePostBack_files").treegrid("getChildren",parentNode.AttachID).length==0) {
                                    $("#TaskInfoApprovePostBack_files").treegrid("update", { id: parentNode.AttachID, row: { iconCls: "fa-folder" } });

                                    var panel= $("#TaskInfoApprovePostBack_files").treegrid("getPanel");
                                    var delHtml=panel.find("tr[node-id='"+parentNode.AttachID+"'] a[id='btnDel']");
                                    delHtml.linkbutton({
                                        iconCls: 'fa fa-trash',
                                        onClick:function () {
                                            deleteFunc(parentNode.AttachID);
                                        }
                                    });


                                    $("span[class='tree-icon tree-file fa-folder']").removeClass("tree-file");
                                }
                            }
                        //});
                    }
                </script>
            </div>
        </div>
    </div>
    <div data-options="region:'south',border:true" style="overflow:hidden">
        <div class="pagefoot">
            <a href="javascript:void(0);" class="easyui-linkbutton btn-medium btn-gray" id="btnClose">取消</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0);" class="easyui-linkbutton btn-medium btn-blue" id="btnBack">回退</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btnClose", $("#TaskInfoApprovePostBack")).click(function() {
            window.top.$("#@ViewBag._DialogId").dialog("close");
    });

    $("#btnBack", $("#TaskInfoApprovePostBack")).click(function () {

        //判断是否有文件
        var result=false;
        var rootNode=$("#TaskInfoApprovePostBack_files").treegrid("getRoots");
        if (rootNode==null||rootNode.length==0) {
            JQ.dialog.show("没有可提交的文件！！！");
            return false;
        }
        //仅判断是否有文件
        $.each(rootNode,function (i,e) {
            if (result) {
                return false;
            }
            if (e.AttachExt!=".") {
                result=true;
                return false;
            }
            var childNodes=$("#TaskInfoApprovePostBack_files").treegrid("getChildren",e.AttachID);
            if (childNodes!=null&&childNodes.length>0) {
                $.each(childNodes,function(ic,ec){
                    if (ec.AttachExt!=".") {
                        result=true;
                        return false;
                    }
                })
            }
        })

        if (!result) {
            JQ.dialog.show("没有可提交的文件！！！");
            return false;
        }

        var addRow=[];
        $.each(rootNode,function (i,e) {
            addRow.push(e.AttachID);
            var childNodes=$("#TaskInfoApprovePostBack_files").treegrid("getChildren",e.AttachID);
            if (childNodes!=null&&childNodes.length>0) {
                $.each(childNodes,function(ic,ec){
                    addRow.push(ec.AttachID);
                })
            }
        })

        //JQ.dialog.confirm('你确定要回退这些文件到设计吗?',function () {
            JQ.tools.ajax({
                url: '@Url.Action("TaskInfoApproveSavePostBack")?TaskId='+@ViewBag.TaskModel.Id,
                data: {AttachIds:addRow.join(',')},
                succesCollBack: function () {
                    if (typeof(window.top["_DialogCallback_@ViewBag._DialogId"]) == "function") {
                        window.top["_DialogCallback_@ViewBag._DialogId"]();
                        window.top.$("#@ViewBag._DialogId").dialog("close");
                    }
                }
            });
        //});

    })
</script>

