@model DataModel.Models.DesTaskGroup
<form id="form_TaskGroupInfo">
    <table class="table table-hover table-bordered">
        <tr>
            <th style="width: 100px;">
                阶段名称：
            </th>
            <td>
                @Model.TaskGroupName
            </td>
        </tr>
    </table>
</form>