@{
    ViewBag.Title = "菜单树";
    Layout = null;
}
<script type="text/javascript">    
    @Html.Raw("rwpTemp.parentid = " + (int)ViewBag.parentid);
    @Html.Raw("rwpTemp.isall = " + (int)ViewBag.isall);
    $(function () {
        $("#menudialoggrid").rwpUIDatagrid({
            columns: [
            { display: '主键', name: 'ID', isHide: true, primarykey: true },
            { display: '菜单名称', name: 'menuName', width: 250 }
            ],            
            pageSize: 5,
            url: '@Url.Action("menudialogjson")?isall=' + rwpTemp.isall,
            tree: { columnName: 'menuName' },            
            isSelected: rwpPluginHelper.gridIsSelectedFun('ID', _rwpSplit + rwpTemp.parentid + _rwpSplit),
            height: '79%',
            checkbox: false
        });                
    });
</script>

<div id="menudialoggrid"></div>

