@using JQ.Web;
<script type="text/javascript">
    function Save() {
        var validate = Validate();
        if (validate != false) {
            JQ.tools.ajax({
                url: '@Url.Action("PostAskingExch", "DesExch")',
                data: $('#AskingExchForm').serialize(),
                succesCollBack: function (data) {
                    closeDialog();
                }
            });
        }
    }
    function Validate()  //验证数据
    {
        var Vali = true;
        if (!$("#ExchContent").textbox("isValid")) {
            Vali = false;
            $("#ExchContent").textbox("textbox").focus();
        }
        var specID = $("#ExchSpecId").combobox('getValue');
        if (specID == "" || specID == "0")
        {
            JQ.dialog.warning("请选择专业");
            Vali = false;
        }
        return Vali;
    }

    function closeDialog() {
        JQ.dialog.dialogClose();
    }

    $("#ExchEmpId").combobox({
        prompt: '选择人员',
        editable: false,
        valueField: 'EmpID',
        textField: 'EmpName',
        url: '@Url.Action("GetAllPersonBySpecID", "DesExch", new { @area = "Design" })?SpecId=0',
        onLoadSuccess: function (data) {
            if ($(this).combobox('getValue') == "0" || $(this).combobox('getValue') == 0) {
                $(this).combobox('setValue', "");
            }
        }
    });

    $("#ExchSpecId").combobox({
        prompt: '下拉选择专业',
        required:true,
        valueField: 'TaskSpecId',
        editable: false,
        textField: 'TaskName',
        url: '@Url.Action("ComboSpec", "DesExch", new { @area = "Design" })',
        onChange: function (newVal, oldVal) {
            if (newVal != "0" || newVal != 0) {
                $("#ExchEmpId").combobox('reload', '@Url.Action("GetAllPersonBySpecID", "DesExch", new { @area = "Design" })?SpecId=' + newVal);
            }
        }

    });
</script>
<div class="dialog-toolbar">
    <a class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-save'" onclick="Save();">发送提醒消息</a>
    <a class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-close'" onclick="closeDialog();">关闭</a>
</div>


@using (Html.BeginForm("PostAskingExch", "DesExch", FormMethod.Post, new { @id = "AskingExchForm"}))
{
    <table class="table table-bordered">
        <tr>
            <th>
                提资专业
            </th>
            <td>
                <select id="ExchSpecId" name="ExchSpecId" class="easyui-combobox" style="width:98%;"></select>
            </td>
        </tr>
        <tr>
            <th>
                提资人
            </th>
            <td>
                <select id="ExchEmpId" name="ExchEmpId" class="easyui-combobox" style="width:98%;"></select>
            </td>
        </tr>
        <tr>
            <th width="10%">内容</th>
            <td width="90%">
                <input name="ExchContent" id="ExchContent" style="width:98%;height:60px;" class="easyui-textbox" data-options="required:true,multiline:true" validType="length[0,4000]"  />
            </td>
        </tr>

    </table>

}

