
@using JQ.Web;


<script type="text/javascript">
    $(function () {
        for (var i = 0; i < window.top.length; i++) {
            var _top = window.top[i];
            if (_top.document.getElementById("AnalysisIds")) {
                $("#DesTaskIds").val(_top.document.getElementById("AnalysisIds").value)
                break;
            }
        }
        if ($("#DesTaskIds").val() == "") {
            return;
        }
        JQ.datagrid.datagrid({
            JQButtonTypes: ['export', 'moreSearch'],//需要显示的按钮
            JQPrimaryID: 'Id',//主键的字段
            JQID: 'InfoListGrid',//数据表格ID
            JQDialogTitle: '信息',//弹出窗体标题
            JQWidth: '1024',//弹出窗体宽
            JQHeight: '100%',//弹出窗体高
            JQLoadingType: 'datagrid',//数据表格类型 [datagrid,treegrid]
            JQExcludeCol: [1, 16],//导出execl排除的列
            //JQEnableFilter: true,//是否启用表格字段检索，只支持当页数据
            //JQFields: ["", ""],//追加的字段名
            url: '@Url.Action("GeTaskListJson", "IsoAnalysis", new { @area= "Iso" })',
            checkOnSelect: true,
            toolbar: '#InfoListPanel',//工具栏的容器ID
            columns: [[
              { title: '项目编号', field: 'ProjNumber', width: 80, align: 'left', halign: "center" },
              { title: '项目名称', field: 'ProjName', width: 120, align: 'left', halign: "center", sortable: true },
              { title: '阶段', field: 'PhaseName', width: 80, align: 'left', halign: "center", sortable: true },
              { title: '专业', field: 'SpecialtyName', width: 80, align: 'left', halign: "center", sortable: true },
              { title: '卷册名称', field: 'TaskName', width: 80, align: 'left', halign: "center", sortable: true },
              { title: '优秀', field: 'T_5', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '良好', field: 'T_4', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '一般', field: 'T_3', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '较差', field: 'T_2', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '很差', field: 'T_1', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '原则性错误', field: 'T_59', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '技术性差错', field: 'T_60', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '一般性差错', field: 'T_61', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '建议', field: 'T_97', width: 80, align: 'center', halign: "center", sortable: true },
              { title: '设计人员', field: 'TaskEmpName', width: 80, align: 'center', halign: "center", sortable: true },
               {
                   field: "opt", title: "查看", align: "center", halign: "center", width: "60px", formatter: function (value, row, index) {
                       debugger;
                       return "<a href=\"#\" class=\"easyui-linkbutton\"  style=\"line-height:22px;\" onclick=\"ShowTaskInfoDialogue('" + row.Id + "')\">查看</>";
                   }
               }
            ]],
            queryParams: {
                DesTaskIds: $("#DesTaskIds").val()
            }
        });
        $("#JQSearch").textbox({
            buttonText: '筛选',
            buttonIcon: 'fa fa-search',
            height: 25,
            prompt: '项目编号，项目名称，设计人员',
            queryOptions: { 'Key': 'TextCondtion', 'Contract': 'like' },
            onClickButton: function () {
                JQ.datagrid.searchGrid(
                    {
                        dgID: 'InfoListGrid',
                        loadingType: 'datagrid',
                        queryParams: {
                            DesTaskIds: $("#DesTaskIds").val()
                        }
                    });
            }
        });
    });
    function closedialog() {
        JQ.dialog.dialogClose();
    }
    function ShowTaskInfoDialogue(Id) {
        JQ.dialog.dialog({
            title: "查看设计任务",
            url: "@Url.Action("TaskInfo", "DesTask", new { @area = "Design" })?Id=" + Id,
            width: '1200',
            height: '800',
            toolbar: null,
            iconCls: 'fa fa-list',
        });
    }
</script>



<table id="InfoListGrid"></table>
<div id="InfoListPanel" JQPanel="searchPanel" style="padding:5px;height:auto;">
    <span JQPanel="toolbarPanel">
        <a class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-close'" onclick="closedialog()">关闭</a>
    </span>
    <span class='datagrid-btn-separator' style='vertical-align: middle; height: 22px;display:inline-block;float:none'></span>
    <select id="isStartSearch" class="easyui-combobox" JQWhereOptions="[{ Key:'TaskJudge', Contract:'in',filedType:'Int'}]" JQPermissionName="CanEdit">
        <option value="0">设计质量</option>
        <option value="5">优秀</option>
        <option value="4">良好</option>
        <option value="3">一般</option>
        <option value="2">较差</option>
        <option value="1">很差</option>
    </select>
    <span class='datagrid-btn-separator' style='vertical-align: middle; height: 22px;display:inline-block;float:none'></span>
    @BaseData.getBases(new Params() { isMult = true, engName = "ProjectPhase", queryOptions = "{ Key:'TaskPhaseId', Contract:'in',filedType:'Int'}" })
    <span class='datagrid-btn-separator' style='vertical-align: middle; height: 22px;display:inline-block;float:none'></span>
    <input id="JQSearch" style="width:250px;" JQWhereOptions="{ Key: 'TextCondtion', 'Contract': 'like' }" />
    <input type="hidden" id="DesTaskIds" name="DesTaskIds" value="0" />
</div>
