<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title</title>
    @RenderPage("~/Areas/Core/Views/Mobile/_Header.cshtml")
    @RenderSection("head", false)
</head>
<body>
    @RenderSection("Body_Content", true)
</body>
</html>
