@using JQ.Util;
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />

</head>
<body>
    <div id="关于金曲_ContentMain_content" class="x-hide-display">
        <div id="divContent" style="overflow: hidden;">
            <div class="aboutlogo"></div>
            <div class="aboutinfo">
                <div class ="aboutinfo-whitebg">
                    <div class="clearfix"></div>
                    <div class="pull-left">
                        <h4 style="font-size:14px;font-weight:bold;">金曲项目管理软件</h4>
                        <p><span style="color:#c4c4c4">软件版本：9.0</span><span style="margin-left:30px; color:#c4c4c4">发布时间：2016年09月</span></p>
                    </div>
                    
                        <div class="pull-right">
                            <img src="Content/images/jq-logo.png" alt="" style="height: 40px;margin-top: 13px;">
                        </div>
                    <div class="clearfix"></div>
                </div>
                <div class="aboutinfo-graybg">
                    <p>
                        技术支持：上海金曲信息技术有限公司<br />
                        官方网站：<a href="http://www.jinqu.cn" target="_blank">www.jinqu.cn</a>&nbsp;&nbsp;
                        客服邮箱：<a href="mailto:support@jinqu.cn">support@jinqu.cn</a><br />
                        客服电话：021-50600055<span>（上海总部）</span> 0519-85178188<span>（常州研发中心）</span><br />
                        客服ＱＱ：505601645<span>（上海总部）</span> 159180301<span>（常州研发中心）</span><br />
                    </p>
                    <p class="border1 fontB" style="font-weight:bold">
                        授权用户：上海金曲信息技术有限公司<br />
                        版权所有：上海金曲信息技术有限公司<br />
                    </p>
                </div>
               
            </div>
        </div>
    </div>

</body>
</html>
