@using JQ.Util;
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
   
</head>
<body>
    <div id="divContent">
        <div id="dialogContent">
            <ul class="sys-down-ul">
                <li>
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" alt="64x64" src="~/Content/icons32/ClientApp.gif" data-holder-rendered="true" style="width:32px;height:32px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">金曲工程设计管理客户端</h4>
                            <p>保存客户端到桌面，方便快速访问系统、及时接收系统通知。另外在软件的设置界面还能方便的设置自动登录、配置系统环境。</p>
                            <div class="pull-right">
                                <a onclick="window.open('download/金曲工程设计管理客户端.exe', '_blank');" class="btn btn-primary InputBttn btn-sm">下载</a>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" alt="64x64" src="~/Content/icons32/dwg.gif" data-holder-rendered="true" style="width:32px;height:32px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">金曲CAD智能工具客户端</h4>
                            <p>这一套专门服务于设计人员的CAD软件工具包，具体包括:标准图框格式定义、插入图框、自动拆图、图纸格式转换、自动生成图纸目录、图纸比较、打印自动归档、打印条形码图纸归档、CAD电子签名等。</p>
                            <div class="pull-right">
                                <a onclick="window.open('download/金曲CAD智能工具客户端.exe', '_blank');" class="btn btn-primary InputBttn btn-sm">下载</a>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" alt="64x64" src="~/Content/icons32/DotNet.gif" data-holder-rendered="true"  style="width:32px;height:32px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">.Net 环境</h4>
                            <p>用来支持客户端运行的系统基本组建，如果客户端程序无法正常运行，那么必须先安装该安装包。</p>
                            <div class="pull-right">
                                <a onclick="window.open('download/dotnetfx.exe', '_blank');" class="btn btn-primary InputBttn btn-sm">下载</a>
                               
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a class="media-left" href="#">
                            <img class="media-object" alt="64x64" src="~/Content/icons32/IE.gif" data-holder-rendered="true"  style="width:32px;height:32px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">系统帮助文档</h4>
                            <p>系统帮助文档及分角色帮助文档。</p>
                            <div class="pull-right">
                                <a onclick="window.open('download/help.doc', '_blank');" class="btn btn-primary InputBttn btn-sm">下载</a>
                                
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
           
           
        </div>
    </div>
</body>
</html>
